Repository OpenDevUFCG/laguinho-api, pull requests merged in 2019-09, with the labels that each got.

#35 Cria estrutura inicial do repositório
  .babelrc
  .env.example
  .flaskenv
  .gitignore
  .nowignore
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Pipfile
  Pipfile.lock
  README.md
  docs/README.md
  docs/REPOSITORIES.md
  docs/SUBJECTS.md
  laguinho/__init__.py
  laguinho/models/__init__.py
  now.json
  package.json
  src/index.js
  src/v1/disciplinas/disciplinas-controller.js
  src/v1/disciplinas/disciplinas-data.js
  src/v1/index.js
  src/v1/repositorios/github.js
  src/v1/repositorios/repositorios-controller.js
  src/v1/repositorios/repositorios-data.js
  yarn.lock
Labels: enhancement, novo laguinho

#41 Atualiza README.md informando sobre novo laguinho
  README.md
Labels: novo laguinho

#45 Adiciona endpoint para publicar datasets
  Pipfile
  laguinho/__init__.py
  laguinho/errors/__init__.py
  laguinho/errors/handlers.py
  laguinho/models/error_messages.py
  laguinho/models/metadata.py
  laguinho/routes/__inity__.py
  laguinho/routes/datasets.py
Labels: Novo endpoint, em andamento, enhancement, novo laguinho

#51 Adiciona versão inicial do CONTRIBUTING.md
  CONTRIBUTING.md
Labels: enhancement, novo laguinho

#50 Adiciona obtenção de dataset por nome
  laguinho/routes/datasets.py
Labels: enhancement, novo endpoint, novo laguinho

#52 Adiciona changelog ao projeto
  CHANGELOG.md
Labels: enhancement, novo laguinho
